.containerWithoutScrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.containerWithoutScrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  width: 0;
  background: transparent;
}

.refreshButton {
  padding: 6px 15px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  background-color: #ffd801;
  font-family: "Roboto Mono", monospace;
  margin-top: 5px;
  color: #2b2b2b;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refreshButton:hover {
  background-color: #ffc107;
}

.under-typing-test-section {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 5xl;
}

.typing-test-real-time-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 5xl;
  background-color: #1e1e1e;
  padding: 4px;
  margin-top: 10px; /* Add some margin at the top to move it down */
}

.typing-test-stat {
  color: #f6f6f6;
  margin: 1px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px; /* Add some padding to separate the stats from each other */
}

/* Utility Classes */
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.blinkLeft {
  animation: blinkLeft 1s infinite;
}

.blinkRight {
  animation: blinkRight 1s infinite;
}

@keyframes blinkLeft {
  0% {
    border-left-color: #1e1e1e;
  }
  50% {
    border-left-color: #1e1e1e; /* Update with your preferred color */
  }
  100% {
    border-left-color: #1e1e1e;
  }
}

@keyframes blinkRight {
  0% {
    border-right-color: #1e1e1e;
  }
  50% {
    border-right-color: #1e1e1e; /* Update with your preferred color */
  }
  100% {
    border-right-color: #1e1e1e;
  }
}

/* Loader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffd801;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffd801;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffd801; /* Update with your preferred color */
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Component-specific Styles */
.flex-row {
  display: inline-flex;
  flex-direction: row;
}
